.nav-item{
    width: 100px;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-underline: none;
}
.nav-item-right{
    margin-right: 0;
    margin-left: auto;
}
.nav-item-text{
    cursor: pointer;
}
.nav-item:hover{
    background: #383d47;
}
.nav-item-active{
    background: #353a43;
}